.home {
  &-background {
    background: url("HomePageBackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 665px;
    max-width: 100vw;
    height: calc(100vh - 100px);
  }

  &-image {
    padding-top: 100px;
    margin-left: 10vw;
    transform: scaleX(-1);
    min-height: 500px;
  }

  &-content {
    display: flex;
    flex-direction: row;
  }

  &-texts {
    padding-top: 50px;
    padding-left: 10vw;
    width: 30vw;
  }

  &-title {
    text-align: center;
    font-size: 50px;
  }

  &-subtitle {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
  }

  &-buttons button {
    color: black;
    border-color: black;
  }
}
