.container {
  background: url('HomePageBackground.png'); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 665px;
}