@import "../../../infra/layout/mixins.scss";

.login {
  &-background {
    @include backgroundWithImage("LoginPageBackground.jpg");
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
  }

  &-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  &-errorAlert {
    margin-bottom: 10px;
    width: 300px;
  }

  &-input div {
    margin-bottom: 20px;
    width: 300px;
  }

  &-button {
    width: 90px;
  }

  &-newAccountCard {
    width: 300px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
}
