@mixin backgroundWithImage($image) {
  background: url($image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  max-width: 100vw;
  min-height: calc(100vh - 100px);
}
